body{
    background-color: whitesmoke;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
   
}
a{
    text-decoration: none;
    color: white;
}
.box{
    width: 12px;
    height: 25px;
    background-color: rgb(220, 215, 215);
    margin-top: 22px;
    margin-right: 15px;
}

#goTop {
    display: none; 
    background-color: white; 
    color: black; 
    cursor: pointer;
    position: fixed;
    bottom: 20px; 
    right: 90px; 
    z-index: 99; 
    padding: 10px; 
    border-radius: 30px;
    font-size: 18px; 
    border: 1px solid black;
}



.hero_img_div {
    position: relative;
}
.hero_img{
    width: 90%;
    height: 450px;
    margin-left:6%;
   
}
.matter{
    position: absolute;
    left: 20%;
    top: 180px;
    color: white;
}
.header{
    margin-top: -5px;
    position:absolute;
    top: 6px;
    width: 89%;
    height: 60px;
    margin-left:6%;
    display: flex;
    border: 1px solid black;
    justify-content: space-around;
    color: white;
    background-color: black
}
.left{
    margin-left: 20px;
}
.right{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.right div:hover{
    border: 1px solid white;
    height: 20px;
    
}
#span_home{
    border: 1px solid green;
    color: green;
}
.matter_buttons{
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
.matter_buttons button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    background-color: turquoise;
    color: white;
    border: turquoise;
}

/*--------we are modest----------*/

.we_are_modest{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    margin-left: 20%;
}
.sub_heading{
    display:flex ;
}
.social_media{
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    gap: 20px;
}
.social_media img{
    border: 1px solid black;
    background-color: white;
    
}

/*-----------meet our team--------*/
.meet_our_team_div{
    width: 60%;
    margin-left: 20%;
    height: 500px;
}

.meet_our_team{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.meet_our_team img{
    width: 180px;
}
.team_image_div{
    /* border: 1px solid red; */
    background-color:rgb(207, 205, 205);
    text-align:center;
    padding-bottom: 8px;
    
}
.team_image_div >img{
    width:225px;
    height: 250px;
}
.team_image_div:hover{
    background-color: rgb(35, 59, 59);
    color: white;
    cursor: pointer;

}
.hover_icons img{
    width: 30px;
}
/*----------on hover icons----------------*/
.team_image_div {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .hover_icons {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
  }
  
  .team_image_div:hover .image {
    opacity: 3;
  }
  
  .team_image_div:hover .hover_icons {
    opacity: 1;
  }

/*-------------lovely work---------------*/

.lovely_work_div{
    border: 1px solid teal;
    width: 90%;
    height: 500px;
    margin-left:6%;
    background-color: rgb(14, 91, 91);
    color: white;
}

.lovely_work_images{
    /* border: 1px solid black; */
    width: 60%;
    margin-left: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;

}
.lovely_work_images img{
    width: 240px;
    
}
.lovely_work .sub_heading{
    margin-left: 230px;
}
.show_me_more{
    background-color: transparent;
    color: white;
    position: absolute;
    left: 46%;
    top:1800px;
    padding: 8px;
    border: 1px solid white;
}



.lovely_work_images {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .hover_text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 47%;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
  }
  
  .lovely_work_images:hover .image {
    opacity: 100;
  }
  
  .lovely_work_images:hover .hover_text {
    opacity: 1;
  }
.partnership{
    border: 1px solid green;
    background-color: rgb(18, 48, 48);
    color: white;
    width: 228px;
    padding: 7px;
}


/*--------------------what_we_do--------------------*/
.what_we_do_div{
    width: 60%;
    margin-left: 20%;
    height: 500px;
}
.what_we_do{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin-left: 10px;
}
.what_we_do img{
    margin-left: 20px;
    margin-top: 20px;
}
.what_we_do div{
    /* border: 1px solid red; */
    
    width: 210px;
}
small{
    color: rgb(99, 94, 94);
}
p{
    color: rgb(99, 94, 94);
}

/*---------------------features---------------------*/

.lovely_work_images small{
    color: rgb(173, 181, 189);
}
.lovely_work .box{
    background-color: rgb(154, 150, 150)
}
/*-----------------------stay_in_touch--------------------------------*/

.stay_in_touch_div{
    width: 60%;
    margin-left: 20%;
    
}
.map_image img{
    width: 1360px;
    margin-left:6%;
    height: 320px;
}
.contact{
    /* border: 1px solid red; */
    width: 30%;
    margin-left: 20%;
}
.input_div{
    /* border: 1px solid green; */
    width: 20%;
    height: 220px;
    position: absolute;
    left: 850px;
    top: 3150px;
    background-color: white;
    padding: 20px;
    right: 120px;
}
.name_email{
    display: flex;
   
}
input{
    background-color: rgb(244, 244, 244);
    border: transparent;
    padding: 10px;
    width: 100px;
}
#message_box{
    width: 90%;
    height: 100px;

}
#send_message{
    background-color: rgb(2, 163, 110);
    color: white;
    padding: 9px;
    border-radius: 5px;
    border: transparent;
}

.footer{
    border: 1px solid green;
    height: 60px;
    display: flex;
    background-color: rgb(14, 91, 91);
    color: white;
    padding: 7px;
}
.footer copyright{
    margin-top: 15px;
    margin-left: 300px;
}
.logos{
    margin-left: 550px;
    margin-top: 15px;
}
.logos img{
    width: 30px;
}